Source: blacklist-checker
Maintainer: Ilija Matoski <ilijamt@gmail.com>
Section: admin
Priority: standard
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), bash-completion, golang, git, glide
Vcs-browser: https://github.com/ilijamt/blacklist-checker
Vcs-git: https://github.com/ilijamt/blacklist-checker.git

Package: blacklist-checker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Check if your IP or CIDR is blacklisted or not
 A tool to easily check if a given IP or CIDR is blacklisted or not, 
 works by directly accessing the nameservers, so it's quite faster
 than any other method of checking