#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make build

override_dh_auto_install:
	cp $$(pwd)/bin/blacklist-checker $$(pwd)/debian/blacklist-checker/usr/bin
	cp $$(pwd)/contrib/blacklist-checker.1 $$(pwd)/debian/blacklist-checker/usr/share/man/man1
	cp $$(pwd)/contrib/.blacklist-checker.bash $$(pwd)/debian/blacklist-checker.bash-completion
	dh_bash-completion
